body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.add-more-button {
    display: none;
    text-align: center;
    width: 100px;
    margin: 20px auto;
}

.show-element{
    display: block;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rss-logo {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-image: url('https://rs.school/images/rs_school_js.svg');
    background-repeat: no-repeat;
    background-position: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
